@import "vendor/fontawesome/font-awesome.scss";

$mainColor: #009999;

@mixin span($numOfSpans) {
  @for $i from 1 through $numOfSpans {
    .span-#{$i} {
      float: left;
      width: percentage($i/$numOfSpans);
      padding-right: 10px;
    }
  }
}

@mixin row($numOfRows) {
  @for $i from 1 through $numOfRows {
    .row-#{$i} {
      height: percentage($i/$numOfRows);

      & [class^="span-"] {
        height: 100%;
      }
    }
  }
}

@mixin border-radius($topLeft, $topRight:$topLeft, $bottomRight:$topLeft, $bottomLeft:$topLeft) {
  -webkit-border-radius: $topLeft $topRight $bottomRight $bottomLeft; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -moz-border-radius:    $topLeft $topRight $bottomRight $bottomLeft;   /* Firefox 1-3.6 */
  border-radius:     $topLeft $topRight $bottomRight $bottomLeft;   /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
}

@mixin transition($var...) {
  -webkit-transition: $var;
  -moz-transition: $var;
  -ms-transition: $var;
  -o-transition: $var;
  transition: $var;
}

@mixin transform($var...) {
  -webkit-transform: $var;
  -moz-transform: $var;
  -ms-transform: $var;
  -o-transform: $var;
  transform: $var;
}

@mixin transform-style($var...) {
  -webkit-transform-style: $var;
  -moz-transform-style: $var;
  -ms-transform-style: $var;
  -o-transform-style: $var;
  transform-style: $var;
}

@mixin backface-visibility($var...) {
  -webkit-backface-visibility: $var;
  -moz-backface-visibility: $var;
  -ms-backface-visibility: $var;
  -o-backface-visibility: $var;
  backface-visibility: $var;
}

@mixin clear-fix {
  display: block;
  
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin box-shadow($var...) {
  -moz-box-shadow: $var;
  -webkit-box-shadow: $var;
  box-shadow: $var;
}

/* large desktops */
@media only screen and (min-width: 1170px) {
  section[role="main"] {
    width: 1170px;
    margin: 0 auto !important;
  }

  .site-wrapper {
    @include transition(width 0.3s ease !important);
  }

  .wrapper a.card {
    font-size: 80px !important;
  }

  #navigation:target {
    width: 20% !important;

    & + .site-wrapper {
      width: 80% !important;
      margin-right: 0 !important;

      & > .navbar {
        left: 20% !important;
      }
    }
  }
}

/* tablets and desktops */
@media only screen and (min-width: 768px) and (max-width: 1169px) {
  section[role="main"] {
    margin: 0 18px;

    & .back a.card {
      font-size: 200px !important;
    }
  }

  .wrapper {
    top: 18px !important;
  }

  .wrapper a.card {
    font-size: 70px;
  }

  [class^="span-"] {
    padding-right: 18px !important;
  }

  [class^="span-"]:last-of-type {
    padding-right: 0 !important;
  }

  .row {
    padding-bottom: 18px !important;
  }

  #navigation:target {
    width: 40% !important;

    & + .site-wrapper {
      margin-right: -40% !important;

      & > .navbar {
        left: 40% !important;
      }
    }
  }
}

/* phones */
@media only screen and (max-width: 767px) {
  section[role="main"] {
    & .back a.card {
      font-size: 100px !important;
    }
  }

  .brand {
    font-size: 14px !important;
  }
}

/* portrait phones */
@media only screen and (max-width: 767px) and (orientation: portrait) {
  section[role="main"] {
    & .back a.card {
      font-size: 140px !important;
    }
  }

  a.card {
    font-size: 30px !important;
  }
}

* {
    margin: 0;
    padding: 0;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  padding-top: 40px;
  overflow: hidden;
  background-color: whitesmoke;
}

a,
a:link,
a:visited {
  color: #ccc;
  text-decoration: none;
  font-size: 18px;
}

a:hover,
a:active {
  color: #fff;
}

.row {
  width: 100%;
  min-width: 100%;
  min-height: 20px;
  padding-bottom: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@include row(12);

//Create a 12 column grid system
@include span(12);

[class^="span-"]:last-of-type {
  padding-right: 0;
}

.site-wrapper {
  width: 100%;
  height: 100%;
  float: right;

  @include transition(margin-right 0.3s ease);
}

.navbar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;

  @include transition(left 0.3s ease);
}

.navbar-content {
  color: #fff;
  background-color: #333;
  height: 100%;
  padding: 0 10px;

  & .btn {
    float: left;
    padding: 0;
  }

  & .brand {
    float: right;
    line-height: 40px;
    color: #fff;
  }
}

.nav {
  display: block;
  height: 100%;

  & li {
    display: block;
    list-style-type: none;
    line-height: 38px;
    font-weight: bold;

    &>a {
      display: block;
      height: 100%;
      padding-left: 15px;
      border-bottom: 1px solid #222;
      border-top: 1px solid #444;

      &:hover,
      &:active {
        background-color: $mainColor;
        border-bottom: 1px solid $mainColor;
        border-top: 1px solid $mainColor;
      }
    }

    &:last-of-type>a:after {
      position: absolute;
      display: block;
      z-index: -1;

      right: 0;
      margin-top: 1px;

      content: '';
      width: 100%;
      border-top: 1px solid #444;
    }

    & span {
      color: #fff;
    }
  }

  & li.nav-header {
    color: #fff;
    background-color: #444;
    line-height: 28px;
    font-weight: bold;
    padding-left: 10px;
  }

  & li.nav-close {
    height: 40px;

    &>a:hover,
    &>a:active {
      background-color: #333;
      border-bottom: 1px solid #222;
      border-top: 1px solid #444; 
    }
  }
}

.nav-collapse {
  position: fixed;
  overflow: hidden;
  height: 100%;
  margin: 0;

  width: 0;

  top: 0;
  left: 0;

  background-color: #333;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    display: block;

    width: 20px;
    height: 100%;

    @include box-shadow(inset -15px 0px 12px 0px #222);
  }
}

.nav-button {
  display: inline-block;
  float: left;
  line-height: 38px;
  height: 100%;
  padding-left: 0 4px;
}

#navigation {
  z-index: 100;
  @include transition(width 0.3s ease);

}

#navigation:target {
  width: 80%;

  & + .site-wrapper {
    width: 100%;
    margin-right: -80%;

    & > .navbar {
      left: 80%;
    }

    & .disable-overlay {
      display: block;
    }
  }
}

section[role="main"] {
  position: relative;
  height: 100%;

  @include transform-style(preserve-3d);
  @include transition(-webkit-transform 1.0s);

  & figure {
    position: absolute;
    z-index: 3;
    padding: 0 10px;
    width: 100%;
    height: 100%;

    @include backface-visibility(hidden);
  }

  & .back {
    display: block;
    z-index: 4;
    @include transform(translate3d(0,0,0) rotateY(-180deg));
  }
}

.wrapper {
  position: relative;
  top: 10px;
  height: 98%;
  z-index: 2;
}

.disable-overlay {
  position: absolute;
  z-index: 200;
  display: none;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

a.card {
  display: block;
  height: 100%;

  color: #fff;
  background-color: $mainColor;
  
  text-align: center;
  text-decoration: none;
  font-size: 50px;
  font-weight: bold;
  
  @include border-radius(4px);

  //Vertically center text
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.flip {
  @include transform(rotateY(-180deg));
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  cursor: pointer;
}

.panel {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;

  padding: 0 10px;

  color: #fff;
  background-color: #333;

  text-align: center;
  font-size: 25px;

  opacity: 0.9;

  & h1 {
    font-size: 60px;
  }
}