<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<script src="js/app.js"></script>

		<title>Scrum Poker</title>
	</head>

	<body>
		<div id="main-navigation" class="nav-collapse">
			<ul class="nav">
				<li class="nav-close"><a id="closeButton" href="#"><i class="icon-remove"></i></a></li>
				<li class="nav-header"><span>Deck</span></li>
				<li><a href="#"><span class="icon-fixed-width">5</span> Standard</a></li>
				<li><a href="#"><span class="icon-fixed-width">M</span> T-Shirt</a></li>
				<li><a href="#"><span class="icon-fixed-width">F</span> Fibonacci</a></li>

				<li class="nav-header"><span>App</span></li>
				<li><a href="#">Settings</a></li>
				<li><a href="#">Tell the world!</a></li>
				<li><a href="#">Rate the app</a></li>
				<li><a href="#">About</a></li>
			</ul>
		</div>

		<div class="site-wrapper">
			<header class="navbar" role="navigation">
				<div class="navbar-content">
					<a class="nav-button" href="#main-navigation"><i class="icon-reorder icon-large"></i></a>
					<a class="brand" href="#">Because Kash has an iPhone Scrum Poker</a>
				</div>
			</header>

			<section role="main">
				<div class="disable-overlay"></div>
				<div class="wrapper">
					<div class="overlay"></div>
					<figure class="front">
						<div class="row row-1">
							<div class="span-4">
								<a class="card" href="#">1</a>
							</div>
							<div class="span-4">
								<a class="card" href="#">2</a>
							</div>
							<div class="span-4">
								<a class="card" href="#">3</a>
							</div>
						</div>

						<div class="row row-1">
							<div class="span-4">
								<a class="card" href="#">4</a>
							</div>
							<div class="span-4">
								<a class="card" href="#">5</a>
							</div>
							<div class="span-4">
								<a class="card" href="#">6</a>
							</div>
						</div>

						<div class="row row-1">
							<div class="span-4">
								<a class="card" href="#">7</a>
							</div>
							<div class="span-4">
								<a class="card" href="#">8</a>
							</div>
							<div class="span-4">
								<a class="card" href="#">9</a>
							</div>
						</div>
					</figure>

					<figure class="back">
						<div class="row row-3">
							<div class="span-12">
								<a class="card" href="#">1</a>
							</div>
						</div>
					</figure>
				</div>
			</section>
		</div>
	</body>
</html>